* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #2b2b2b;
}

.container {
    background: #f5f5f5;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    text-align: center;
}

.team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 22%;
    padding: 20px;
    border-radius: 6px;
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    font-size: 20px;
    margin: 0 8px;
    color: #444;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ff0000;
}




@media (max-width: 768px) {
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}
